In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
nfl_frame = pd.read_clipboard()

In [4]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West

In [6]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL', 'Season',
       'Total', 'Games', 'Division'],
      dtype='object')

In [7]:
nfl_grame['First Season']

NameError: name 'nfl_grame' is not defined

In [8]:
import 0

SyntaxError: invalid syntax (<ipython-input-8-26232a24cf00>, line 1)

In [9]:
import 0

SyntaxError: invalid syntax (<ipython-input-9-26232a24cf00>, line 1)

In [10]:
nfl_frame['First']

0     0.570
1     0.568
2    37.000
3     0.561
4     9.000
5    14.000
Name: First, dtype: float64

In [11]:
nfl_frame.Team

0    Chicago
1     Dallas
2      Green
3      Miami
4        New
5        San
Name: Team, dtype: object

In [13]:
nfl_frame[['Team', 'Season']]

      Team Season
0  Chicago  1,338
1   Dallas    850
2    Green   1921
3    Miami    768
4      New   1960
5      San   1950

In [14]:
DataFrame(nfl_frame, columns=['Team', 'Season'])

      Team Season
0  Chicago  1,338
1   Dallas    850
2    Green   1921
3    Miami    768
4      New   1960
5      San   1950

In [16]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North

In [17]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West

In [18]:
nfl_frame.ix[3]

Rank               4
Team           Miami
Won         Dolphins
Lost             429
Tied             335
Pct.               4
First          0.561
NFL             1966
Season           768
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [19]:
nfl_frame['Stadium'] = "Levi 'S Starium"

In [20]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Levi 'S Starium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,Levi 'S Starium
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,Levi 'S Starium
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,Levi 'S Starium
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Levi 'S Starium
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West,Levi 'S Starium

In [21]:
nfl_frame['Stadium'] = np.arange(6)

In [22]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,0
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,1
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,2
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,3
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,4
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West,5

In [25]:
stadiums = Series(["Lici 's stadium", "AT&T statium"], index=[4,0])

In [24]:
stariums

4    Lici 's stadium
0       AT&T statium
dtype: object

In [26]:
stadiums

4    Lici 's stadium
0       AT&T statium
dtype: object

In [27]:
nfl_frame['Stadium'] = stadiums

In [28]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,AT&T statium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,NaN
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Lici 's stadium
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West,NaN

In [29]:
del nfl_frame['Stadium']

In [30]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West

In [35]:
data  = {'City':['SF', 'LA','NYC'], 'Population':[837000, 388000, 84000]}

In [36]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 388000, 84000]}

In [38]:
city_frame = DataFrame(data)

In [39]:

city_frame

  City  Population
0   SF      837000
1   LA      388000
2  NYC       84000