In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series(np.arange(1,5,1), index = ['A','B','C','D' ])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
ser3 = Series(['USA','MEXICO','CANADA'], index=[0,5,10])

In [10]:
ser3

0        USA
5     MEXICO
10    CANADA
dtype: object

In [12]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     MEXICO
6     MEXICO
7     MEXICO
8     MEXICO
9     MEXICO
10    CANADA
11    CANADA
12    CANADA
13    CANADA
14    CANADA
dtype: object

In [16]:
dframe = DataFrame(np.random.randn(25).reshape((5,5)), index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])

In [17]:
dframe

       col1      col2      col3      col4      col5
A -0.133798  0.977964 -1.338654 -1.400994  0.467001
B -1.231113 -0.556212  0.872914  0.509303  1.537857
D -0.932641 -1.987770 -0.363659 -1.040487  0.115974
E -0.913903 -0.917619  0.411828 -0.553869  1.371064
F  0.970114 -1.721894  1.474873  0.457430  0.452984

In [18]:
new_index = ['A','B','C','D','E','F']

In [19]:
dframe2 = dframe.reindex(new_index)

In [20]:
dframe2

       col1      col2      col3      col4      col5
A -0.133798  0.977964 -1.338654 -1.400994  0.467001
B -1.231113 -0.556212  0.872914  0.509303  1.537857
C       NaN       NaN       NaN       NaN       NaN
D -0.932641 -1.987770 -0.363659 -1.040487  0.115974
E -0.913903 -0.917619  0.411828 -0.553869  1.371064
F  0.970114 -1.721894  1.474873  0.457430  0.452984

In [21]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns )

       col1      col2      col3      col4      col5  col6
A -0.133798  0.977964 -1.338654 -1.400994  0.467001   NaN
B -1.231113 -0.556212  0.872914  0.509303  1.537857   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.932641 -1.987770 -0.363659 -1.040487  0.115974   NaN
E -0.913903 -0.917619  0.411828 -0.553869  1.371064   NaN
F  0.970114 -1.721894  1.474873  0.457430  0.452984   NaN

In [22]:
dframe

       col1      col2      col3      col4      col5
A -0.133798  0.977964 -1.338654 -1.400994  0.467001
B -1.231113 -0.556212  0.872914  0.509303  1.537857
D -0.932641 -1.987770 -0.363659 -1.040487  0.115974
E -0.913903 -0.917619  0.411828 -0.553869  1.371064
F  0.970114 -1.721894  1.474873  0.457430  0.452984

In [23]:
dfreme.ix{new_index, new_columns}

SyntaxError: invalid syntax (<ipython-input-23-4a3aa2daf519>, line 1)