In [4]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [6]:
dframe1 = DataFrame({'key':['x','z','y','Z','x','X'], 'data_set_1':np.arange(6)})

In [7]:
dframe1

   data_set_1 key
0           0   x
1           1   z
2           2   y
3           3   Z
4           4   x
5           5   X

In [11]:
dframe2 = DataFrame({'key':['Q','y','Z'], 'data_set2':[1,2,3]})

In [9]:
dframe2

   data_set2 key
0          1   Q
1          2   Y
2          3   Z

In [12]:
pd.merge(dframe1, dframe2)

   data_set_1 key  data_set2
0           2   y          2
1           3   Z          3

In [13]:
pd.merge(dframe1, dframe2, on='key')

   data_set_1 key  data_set2
0           2   y          2
1           3   Z          3

In [14]:
pd.merge(dframe1, dframe2, on='key', how='left')

   data_set_1 key  data_set2
0           0   x        NaN
1           1   z        NaN
2           2   y        2.0
3           3   Z        3.0
4           4   x        NaN
5           5   X        NaN

In [15]:
pd.merge(dframe1, dframe2, on='key', how='right')

   data_set_1 key  data_set2
0         2.0   y          2
1         3.0   Z          3
2         NaN   Q          1

In [16]:
pd.merge(dframe1, dframe2, on='key', how='outer')

   data_set_1 key  data_set2
0         0.0   x        NaN
1         4.0   x        NaN
2         1.0   z        NaN
3         2.0   y        2.0
4         3.0   Z        3.0
5         5.0   X        NaN
6         NaN   Q        1.0

In [23]:
dframe3 =  DataFrame({'key': ['x', 'x', 'x', 'y', 'z', 'z'], 'data_set_3':range(6)})

In [24]:
dframe4 =  DataFrame({'key': ['y', 'y', 'x', 'x',  'z'], 'data_set_4':range(5)})

In [25]:
dframe3

   data_set_3 key
0           0   x
1           1   x
2           2   x
3           3   y
4           4   z
5           5   z

In [26]:
dframe4

   data_set_4 key
0           0   y
1           1   y
2           2   x
3           3   x
4           4   z

In [27]:
pd.merge(dframe3, dframe4)

   data_set_3 key  data_set_4
0           0   x           2
1           0   x           3
2           1   x           2
3           1   x           3
4           2   x           2
5           2   x           3
6           3   y           0
7           3   y           1
8           4   z           4
9           5   z           4

In [28]:
df_left = DataFrame({'key1': ['SF', 'SF', 'LA'], 'key2': ['one', 'two', 'one'],'left_data':[10,20,30]})

In [29]:
df_left

  key1 key2  left_data
0   SF  one         10
1   SF  two         20
2   LA  one         30

In [31]:
df_right = DataFrame({'key1': ['SF', 'SF', 'LA', 'LA'], 'key2': ['one','one', 'two', 'one'],'left_data':[40,50,60,70]})

In [32]:
df_right

  key1 key2  left_data
0   SF  one         40
1   SF  one         50
2   LA  two         60
3   LA  one         70

In [33]:
pd.merge(df_left, df_right, on=['key1', 'key2'], how='outer')

  key1 key2  left_data_x  left_data_y
0   SF  one           40           40
1   SF  one           40           50
2   SF  one           50           40
3   SF  one           50           50
4   LA  two           60           60
5   LA  one           70           70

In [34]:
pd.merge(df_left, df_right, on='key1')

  key1 key2_x  left_data_x key2_y  left_data_y
0   SF    one           40    one           40
1   SF    one           40    one           50
2   SF    one           50    one           40
3   SF    one           50    one           50
4   LA    two           60    two           60
5   LA    two           60    one           70
6   LA    one           70    two           60
7   LA    one           70    one           70

In [35]:
pd.merge(df_left, df_right, on='key1', suffixes=['_left', '_right'])

  key1 key2_left  left_data_left key2_right  left_data_right
0   SF       one              40        one               40
1   SF       one              40        one               50
2   SF       one              50        one               40
3   SF       one              50        one               50
4   LA       two              60        two               60
5   LA       two              60        one               70
6   LA       one              70        two               60
7   LA       one              70        one               70