In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [4]:
import pandas.util.testing as tm
tm.N = 3

def unpivot(frame):
    N, K = frame.shape
    data = {'value':frame.values.ravel('F'),
                   'variable': np.asarray(frame.columns).repeat(N),
                   'date':np.tile(np.asarray(frame.index),K)}
    return DataFrame(data, columns=['date', 'variable', 'value'])

dframe = unpivot(tm.makeTimeDataFrame())

In [5]:
dframe

         date variable     value
0  2000-01-03        A -1.610690
1  2000-01-04        A -0.541050
2  2000-01-05        A  0.066205
3  2000-01-03        B  1.385599
4  2000-01-04        B  0.587465
5  2000-01-05        B -1.041425
6  2000-01-03        C -1.063364
7  2000-01-04        C -1.477744
8  2000-01-05        C  0.562932
9  2000-01-03        D  1.591284
10 2000-01-04        D -0.582358
11 2000-01-05        D -0.656072

In [6]:
dframe_piv = dframe.pivot('date', 'variable', 'value')

In [7]:
dframe_piv

variable           A         B         C         D
date
2000-01-03 -1.610690  1.385599 -1.063364  1.591284
2000-01-04 -0.541050  0.587465 -1.477744 -0.582358
2000-01-05  0.066205 -1.041425  0.562932 -0.656072