In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
ser1 = Series(np.arange(3), index=['A','B','C'])

In [4]:
ser1 = 2*ser1

In [5]:
ser1

A    0
B    2
C    4
dtype: int64

In [6]:
ser1[1]

2

In [8]:
ser1[0:3]

A    0
B    2
C    4
dtype: int64

In [9]:
ser1[["A","B"]]

A    0
B    2
dtype: int64

In [10]:
ser1[ser1>3]

C    4
dtype: int64

In [11]:
ser1

A    0
B    2
C    4
dtype: int64

In [12]:
ser1[ser1>3] = 10

In [13]:
ser1

A     0
B     2
C    10
dtype: int64

In [ ]:
dframe = DataFrame(np.arrange(25).reshape((5,5)), index=['NYC','LA','SF','DO','Chi'])