In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
arr1 = np.arange(9).reshape((3,3))

In [3]:
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [4]:
np.concatenate([arr1,arr1],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [5]:
np.concatenate([arr1,arr1],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [6]:
ser1 = Series([0, 1, 2], index=['T', 'U', 'V'])
ser2 = Series([3,4], index=['x', 'y'])

In [7]:
ser1

T    0
U    1
V    2
dtype: int64

In [8]:
ser2

x    3
y    4
dtype: int64

In [11]:
pd.concat([ser1,ser2, ser1])

T    0
U    1
V    2
x    3
y    4
T    0
U    1
V    2
dtype: int64

In [12]:
pd.concat([ser1, ser2], axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
x  NaN  3.0
y  NaN  4.0

In [13]:
pd.concat([ser1, ser2], keys=['cat1', 'cat2'])

cat1  T    0
      U    1
      V    2
cat2  x    3
      y    4
dtype: int64

In [14]:
pd.concat([ser1, ser2], axis=1, keys=['cat1', 'cat2'])

   cat1  cat2
T   0.0   NaN
U   1.0   NaN
V   2.0   NaN
x   NaN   3.0
y   NaN   4.0