In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
dframe = DataFrame({'k1':['X', 'X', 'Y', 'Y', 'Z'],
                                       'k2':['alpha', 'beta', 'alpha', 'beta', 'alpha'],
                                       'dataset1':np.random.randn(5),
                                        'dataset2':np.random.randn(5)})

In [3]:
dframe

   dataset1  dataset2 k1     k2
0  0.662004  0.074054  X  alpha
1  1.572276 -1.342739  X   beta
2 -0.219542  0.940502  Y  alpha
3  0.235259  0.726280  Y   beta
4  0.549696  0.970712  Z  alpha

In [4]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [5]:
group1

In [6]:
group1.mean()

k1
X    1.117140
Y    0.007858
Z    0.549696
Name: dataset1, dtype: float64

In [10]:
cities = np.array(['NY', 'LA', 'LA', 'NY', 'NY'])
month = np.array(['JAN', 'FEB', 'JAN', 'FEB', 'JAN'])

In [8]:
dframe

   dataset1  dataset2 k1     k2
0  0.662004  0.074054  X  alpha
1  1.572276 -1.342739  X   beta
2 -0.219542  0.940502  Y  alpha
3  0.235259  0.726280  Y   beta
4  0.549696  0.970712  Z  alpha

In [11]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    1.572276
    JAN   -0.219542
NY  FEB    0.235259
    JAN    0.605850
Name: dataset1, dtype: float64

In [12]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   1.117140 -0.634343
Y   0.007858  0.833391
Z   0.549696  0.970712

In [13]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  0.662004  0.074054
   beta   1.572276 -1.342739
Y  alpha -0.219542  0.940502
   beta   0.235259  0.726280
Z  alpha  0.549696  0.970712

In [14]:
dataset2_group = dframe.groupby(['k1', 'k2'])[['dataset2']]

In [15]:
dataset2_group.mean()

          dataset2
k1 k2
X  alpha  0.074054
   beta  -1.342739
Y  alpha  0.940502
   beta   0.726280
Z  alpha  0.970712

In [16]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [17]:
for name, group in dframe.groupby('k1'):
    print('thisi is the {} group'.format(name))
    print(group)
    print('\n')

thisi is the X group
   dataset1  dataset2 k1     k2
0  0.662004  0.074054  X  alpha
1  1.572276 -1.342739  X   beta


thisi is the Y group
   dataset1  dataset2 k1     k2
2 -0.219542  0.940502  Y  alpha
3  0.235259  0.726280  Y   beta


thisi is the Z group
   dataset1  dataset2 k1     k2
4  0.549696  0.970712  Z  alpha

In [20]:
for (k1, k2), group in dframe.groupby(['k1','k2']):
    print('K1= {}  K2= {} '.format(k1, k2))
    print(group)
    print('\n')

K1= X  K2= alpha
   dataset1  dataset2 k1     k2
0  0.662004  0.074054  X  alpha


K1= X  K2= beta
   dataset1  dataset2 k1    k2
1  1.572276 -1.342739  X  beta


K1= Y  K2= alpha
   dataset1  dataset2 k1     k2
2 -0.219542  0.940502  Y  alpha


K1= Y  K2= beta
   dataset1  dataset2 k1    k2
3  0.235259   0.72628  Y  beta


K1= Z  K2= alpha
   dataset1  dataset2 k1     k2
4  0.549696  0.970712  Z  alpha

In [21]:
gr = dframe.groupby('k1')

In [22]:
gr.get_group('X')

   dataset1  dataset2 k1     k2
0  0.662004  0.074054  X  alpha
1  1.572276 -1.342739  X   beta

In [25]:
group_dict = dict(list(dframe.groupby('k1')))
group_dict['X']

   dataset1  dataset2 k1     k2
0  0.662004  0.074054  X  alpha
1  1.572276 -1.342739  X   beta

In [27]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes, axis=1)))

In [28]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0  0.662004  0.074054
 1  1.572276 -1.342739
 2 -0.219542  0.940502
 3  0.235259  0.726280
 4  0.549696  0.970712, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}