In [12]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [4]:
animals = DataFrame(np.arange(16).reshape(4,4),
                                    columns=['W', 'X', 'Y', 'Z'],
                                   index=['Dog', 'Cat', 'Bird', 'Mouse'])

In [5]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat     4   5   6   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [6]:
animals.ix[1:2, ['W','Y']] = np.nan

In [7]:
animals

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [8]:
behavior_map = {'W':'bad', 'W':'good', 'Y':'bad', 'Z':'good' }

In [9]:
animals_col = animals.groupby(behavior_map, axis=1)

In [10]:
animals_col.sum()

        bad  good
Dog     2.0   3.0
Cat     NaN   7.0
Bird   10.0  19.0
Mouse  14.0  27.0

In [13]:
behavior_series = Series(behavior_map)

In [14]:
behavior_series

W    good
Y     bad
Z    good
dtype: object

In [15]:
animals.groupby(behavior_series, axis=1).count()

       bad  good
Dog      1     2
Cat      0     1
Bird     1     2
Mouse    1     2